/* Default style for large screens */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}
.container {
  margin-inline: auto;
  margin-block: 4rem;
  width: 50%;
  border: 4px solid white;
  border-radius: 12px;
  background-color: white;
  padding-inline: 2rem;
}

.IMG {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-block: 1.5rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
}

.time {
  width: 100%;
  border-radius: 12px;
  background-color: rgba(255, 182, 193, 0.151);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

ul,
ol {
  list-style-position: inside;
}
h3 {
  color: firebrick;
  margin-bottom: 1rem;
}

h2 {
  color: brown;
  margin-bottom: 1rem;
}
.Ingredients {
  width: 100%;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.Ingredients ul {
  line-height: 2;
  margin-bottom: 1rem;
}

.Instructions {
  width: 100%;
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.Instructions ol {
  line-height: 2;
  list-style-position: inside;
  margin-bottom: 1rem;
}

.Nutrition {
  width: 100%;
  border-radius: 12px;
  padding: 1.5rem;
}

.Nutrition p {
  margin-bottom: 1.5rem;
}

.Nutrition hr {
  margin-bottom: 1rem;
}

.parent {
  display: flex;
  justify-content: space-between;
}

.ss {
  flex: 1;
}

.s {
  flex: 1;
  color: brown;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 1rem;
  }

  .IMG {
    height: 150px;
  }
}
@media (max-width: 900px) {
}
